body {
	margin: 0;
	background-image: url(images/fone.jfif);
	background-repeat: no-repeat;
	background-size: cover;
}
.ok1 {
	position: relative;
	color: white;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ok2 {
	display: flex;
	align-items: center;
	gap: 20px;
	max-width: 700px;
}

.ok2 > img {
	width:50%;
	object-fit: cover;
}
.ok3 {
	display: flex; 
	max-width: 700px;
	overflow: hidden;
}

.ok_img {
	max-height: 430px;
	height: 100%;
}

@media screen and (max-width: 480px) {
.ok2 > img {width: 100%;}
	.ok2 {display:block;}
}

.text1{
	text-align:center;
	font-family:monotype corsiva;
	font-size:20px;
}
.button1 {
	position: absolute;
	top: 10px;
	right: 10px;
}
.logo1{
	position: absolute;
	top: 2px;
	left:3px;

}
.logo1 img {
	height:150px;
	width:170px;
	object-fit: cover;
}
.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

@media screen and (max-width: 920px) {
.button1 {
	display: none;
}
.ok3{
	margin-top:60px;
}
}
